body {
    background-color: darkred;
    background-image: url(file:///C:\Users\brow2113\Pictures\buspicweb.jpg);
    background-image: url('file:///C:\Users\brow2113\Pictures\outpic.jpg');
 
}

h1 {
    background-color: darkred;
    display: block;
    margin: 5% 5%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    color: salmon;
    font-style:italic;
    font-size:56px;
}
h2 {
    background-color: salmon;
    display: block;
    text-align: center;
    border-radius: 8px;
    margin: auto;
}nav 
 {
    display: inline;
    align-content: center;
}
.Links {
    text-decoration: none;
    background-color: salmon;
    margin: 1%;
    color: darkred;
    padding: 4px 6px;
    text-align: center;
    float: left;
    border-radius: 17px;
}
img {
    border: dashed;
    padding: 10px 5px;
    margin: 5% 0%;
    background-color: salmon;
}
#AboutMe {
    background-color: darkred;
    display: block;
    margin: 5% 0%;
    
    padding:10px 5px;
    
    align-content: center;
    text-align: center;
    
              
}

ul {
    text-align: center;
    font-size:24px;
    color: black;
    padding: 10px 5px;
    margin: 5% 0%;
    background-color: salmon;
    border:dashed;
    font-style: italic;
}
#MyProjects {
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 10px 5px;
    margin: 5% 0%;
    background-color: salmon;
    border: dashed;
    font-style: italic;
}
#MySkills {
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 10px 5px;
    margin: 5% 0%;
    background-color: salmon;
    border: dashed;
    font-style: italic;
}
