body {
    background-color:crimson;
    
}

h1 {
    background-color: crimson;
    display: block;
    margin: 5% 5%;
    text-align: center;
    text-shadow: -2px 2px black;
    border-radius: 10px;
    margin: auto;
}
h2 {
    background-color: white;
    display: block;
    text-align: center;
    text-shadow: -2px 2px black;
    border-radius: 7px;
    margin: auto;
}nav 
 {
    display: inline;
    align-content: center;
}
.NavLinks {
    text-decoration: double;
    background-color: cyan;
    margin: 1%;
    color: white;
    text-shadow: -1px 1px black;
    padding: 3px 6px;
    text-align: center;
    float: left;
    border-radius: 10px;
}